@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";

/* Tailwind theme variables */
@theme {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

/* Global styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

/* Chrome / Edge / Safari scrollbar */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;
}

*::-webkit-scrollbar-thumb {
  background-color: #787777;
  border-radius: 10px;
}

/* Body styles */
body {
  font-family: "Outfit", sans-serif;
  color: white;
  background-color: #09090B;
}
